{% extends "base.html" %}
{% block content  %}
{{ title }}
<div>
<table class="table table-striped" >
  <tr>
    <th>單據分類</th>
    <th>工單號碼</th>
    <th>收單日期</th>
    <th>物料控管</th>
    <th>銷售訂單</th>
    <th>客戶</th>
    <th>料號</th>
    <th>工單數量</th>
    <th>需求日期</th>
    <th>ZMMS</th>
    <th>備料人</th>
    <th>生管備註</th>
  </tr>

{% for record in queryset %}
  <tr>

  <td><a href='{{ record.get_absoulte_url }}'>{{ record.category }}</a></td>
  <td><a href='{{ record.get_absoulte_url }}'>{{ record.work_order }}</a></td>
  <td>{{ record.recevice_date }}</td>
  <td>{{ record.material_ctrl }}</td>
  <td>{{ record.ships_order }}</td>
  <td>{{ record.customer }}</td>
  <td>{{ record.product }}</td>
  <td>{{ record.ord_amount }}</td>
  <td>{{ record.deliverly }}</td>
  <td>{{ record.zmms }}</td>
  <td>{{ record.material_duty }}</td>
  <td>{{ record.manage_memo }}</td>
  </tr>
{% endfor %}

</table>
<div>
{% endblock content %}
