{% extends "base.html" %}
{% block content  %}


  <div class="pagination">
      <span>{{ title }}</span>
      <span class="step-links">
          {% if queryset.has_previous %}
              <a href="?page={{ queryset.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
          </span>

          {% if queryset.has_next %}
              <a href="?page={{ queryset.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>


<div>
<table class="table table-striped" >
  <tr>
    <th>發佈日期</th>
    <th>主旨</th>
    <th>公告內文</th>
    <th>修改日期</th>
  </tr>

{% for record in queryset %}
  <tr>
    <td>{{ record.create_at | date:"Y-m-d" }}</td>
    <td><a href='{{ record.get_absoulte_url }}'>{{ record.subject | truncatechars:30 }}</a></td>
    <td><a href='{{ record.get_absoulte_url }}'>{{ record.content | linebreaks | truncatechars:60 }}</a></td>
    <td>{{ record.modify | date:"Y-m-d"}}</td>
  </tr>
{% endfor %}
</table>
<div>
    <a href="/dpsed/create/">Create New</a>
</div>

<div>
<div>
  <nav aria-label="...">
  <ul class="pagination">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    ...
  </ul>
</nav>
</div>



{% endblock content %}
